/*thumbnail images*/
#img1{
	background-image: url("../images/p1/thumb(mouda).png");
}

#img2{
	background-image: url("../images/p2/thumb(haven).png");
}

#img3{
	background-image: url("../images/p3/thumb(appetite).png");
}

#img5{
	background-image: url("../images/p5/graphic_thumb.png");
}

#img6{
	background-image: url("../images/harmony/harmony_thumb.png");
}

#img7{
	background-image: url("../images/MSR/dashboard2.png");
}

#imgKloset{
	background-image: url("../images/kloset/thumb(kloset).png");
}

