<div class="partials">
	<div class="partHead">
		<img class="" src="images/harmony/cover(harmony).png"/>
		<a class="floatingRight" ui-sref="p1"><img class="arrows" src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="MSR_sponsored"><img class="arrows" src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
	</div>
	<section class="contents">
		<div class="infoView">
			<div class="row justify-content-center">
				<div class="col-sm-2"><span><strong>Project Type: </strong></span><p>Class, Group</p></div>
				<div class="col-sm-4"><span><strong>Main Task: </strong></span><p>Design language, App design</p></div>
				<div class="col-sm-3"><span><strong>Time: </strong></span><p>Jan.2017 ~ Mar.2017</p></div>
				<div class="col-sm-2"><span><strong>Tools: </strong></span><p>Figma</p></div>
			</div>
		</div>

		<div class="col-lg-12 description">
			<p><span class="keyword">Harmony Design</span> is a modern design language which has three main princples: Effortless, Tailored, and Integrated.Since Harmony design is inspired by both iOS and Material Design, it looks familiar but also has distinctive features.</p>
	
			<a class="btn" href="pdf/harmony.pdf" target="_blank">See Design Brief</a>
		</div>
		
		<div class="col-lg-12 description-sub">
		<hr>
			<p>Home and lock screens without pyhsical home button</p>
			<img class="contentImg" src="images/harmony/main.png"/>
			<p><span class="keyword">"Cabinet"</span> has notifications and the app drawers</p>
			<img class="contentImg" src="images/harmony/cabinet.png"/>
			<p>The following screens are main views of several <span class="keyword">defulat apps</span> such as dialer and camera</p>
			<img class="contentImg" src="images/harmony/dialer1.png"/>
			<img class="contentImg" src="images/harmony/dialer2.png"/>
			<img class="contentImg" src="images/harmony/camera.png"/>
			<img class="contentImg" src="images/harmony/photo.png"/>
			<img class="contentImg" src="images/harmony/message.png"/>
			<img class="contentImg" src="images/harmony/calendar.png"/>
			<img class="contentImg" src="images/harmony/player.png"/>
			<img class="contentImg" src="images/harmony/map.png"/>
			<img class="contentImg" src="images/harmony/calc.png"/>
		</div>
	</section>


</div>