<div>
      <div class="quoteSection hidden-sm-down">
       <div class="quoteContent"><span class="keyword">Good</span> design is as<br>  <span class="keyword">little</span> design as possible<div class="quoteBy">- Dieter Rams</div></div>
       
       <div class="quoteSub">Universal design is boundless<br>It embraces everyone and everything<br>
       It is my design goal</div>
      </div>

      <section id="workSection" class="container-fluid homeSections">
        <div class="picBox">
            <div class="picBoxMini">
              <a ui-sref="kloset">
                <div id="imgKloset" class="col-md-6 image-container">
                  <!-- <div class="after"><a ui-sref="kloset"><p>Mobile Design</p></a></div> -->
                </div>
              </a>
              <a ui-sref="MSR_sponsored">
                <div id="img7" class="col-md-6 image-container">
                  <!-- <div class="after"><a ui-sref="MSR_sponsored"><p>Web Design</p></a></div> -->
                </div>
              </a>
            </div>

            <div class="picBoxMini">
              <a ui-sref="harmony">  
                <div id="img6" class="col-md-6 image-container">
                  <!-- <div class="after"><a ui-sref="harmony"><p>Mobile Design</p></a></div> -->
                </div>
              </a>
              <a ui-sref="p1">
                <div id="img1" class="col-md-6 image-container">
                  <!-- <div class="after"><a ui-sref="p1"><p>Web Design</p></a></div> -->
                </div>
              </a>
            </div>

            <div class="picBoxMini">
              <a ui-sref="p2">
                <div id="img2" class="col-md-6 image-container">
                <!-- <div class="after"><a ui-sref="p2"><p>Web Design</p></a></div> -->
                </div> 
              </a>  
              <a ui-sref="p3">
                <div id="img3" class="col-md-6 image-container">
                <!-- <div class="after"><a ui-sref="p3"><p>Mobile Design</p></a></div> -->
                </div>
              </a> 
            </div>
<!--             <div class="picBoxMini">
              <div id="img5" class="col-md-6 image-container">
                <div class="after"><a ui-sref="p5"><p>Infographic</p></a></div>
              </div>
              <div id="imgEmpty" class="col-md-6 image-container"></div>
            </div> -->
        </div>
      </section>
<!-- 
      <section id="skillSection" class="container-fluid homeSections">
            <div class="picBox">
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/graphic0.png" alt="coding img">
                <img class="imgBox" src="images/graphic1.png" alt="coding img">
                <img class="imgBox" src="images/graphic2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/prototype0.png" alt="coding img">
                <img class="imgBox" src="images/prototype1.png" alt="coding img">
                <img class="imgBox" src="images/prototype2.png" alt="coding img">
              </div>
              <div class="col-md-3 skillBox">
                <img class="imgBox firstImg" src="images/coding0.png" alt="coding img">
                <img class="imgBox" src="images/coding1.png" alt="coding img">
                <img class="imgBox" src="images/coding2.png" alt="coding img">
                <img class="imgBox" src="images/coding3.png" alt="coding img">
              </div>
            </div>
      </section> -->
</div>