<div id="top" class="partials">
	<div class="partHead">
		<img class="" src="images/kloset/cover(kloset).png"/>
		<a class="floatingRight" ui-sref="MSR_sponsored"><img class="arrows" src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="p3"><img class="arrows" src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
	</div>

	<section class="contents">
		<div class="infoView">
			<div class="row justify-content-center">
				<div class="col-sm-2"><span><strong>Project Type: </strong></span><p>Class, Group</p></div>
				<div class="col-sm-4"><span><strong>Main Task: </strong></span><p>User testing, Wireframe, Prototyping</p></div>
				<div class="col-sm-3"><span><strong>Time: </strong></span><p>Mar.2017 ~ Jun.2017</p></div>
				<div class="col-sm-2"><span><strong>Tools: </strong></span><p>Figma, Marvel</p></div>
			</div>
		</div>
		<div class="col-lg-12 description">
			<p><span class="keyword">Kloset</span> is an Android app help parents doneate outgrown child clothes and get second-handed clothes that fit their children.
			For this project, we conducted surveys and interview to meet the user requirement. Based on the needs, we designed a user-centered app.</p>
	
			<a class="btn" href="https://marvelapp.com/h5b8c1g/screen/28937316" target="_blank">Explore Prototype</a>
		</div>
		
		<div class="col-lg-12 description-sub">
		<hr>
			<p>After the login page, you can browse the list of clothes. <br>
			However they need Koins to request a box of clothes.</p>
			<img class="contentImg" src="images/kloset/kloset1.png"/>
			<img class="contentImg" src="images/kloset/kloset2.png"/>
			<p>One way to get Koins is to post a box of outgrown child clothes.</p>
			<img class="contentImg" src="images/kloset/kloset3.png"/>
			<img class="contentImg" src="images/kloset/kloset4.png"/>
			<p>With the Koins, you can request a box of clothes that would fit your child.</p>
			<img class="contentImg" src="images/kloset/kloset5.png"/>
			<img class="contentImg" src="images/kloset/kloset6.png"/>
			<p>You can send messages to the poster of the box <br> and see the status of your request. </p>
			<img class="contentImg" src="images/kloset/kloset7.png"/>
			<img class="contentImg" src="images/kloset/kloset8.png"/>
			<p>For the posters, they can manage the received requests. </p>
			<img class="contentImg" src="images/kloset/kloset9.png"/>
		</div>
	</section>
</div>