<div class="partials">
	<section class="contents">
		<a class="floatingRight" ui-sref="harmony"><img src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="home"><img src="images/home.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Home</span></a>
		<div class="col-md-7 leftBox">
			<img class="titleImg" src="images/MSR/dashboard.png"/>
		</div>
		<div class="col-md-5 rightBox">
			<span><strong>Project Type: </strong></span><p>Class Group project</p>
			<span><strong>Sponsored by: </strong></span><p><a href="http://www.msrglobalhealth.com/" target="_blank">MSR Global Health</a></p>
			<span><strong>Main task: </strong></span><p>Wireframe, Web design, CSS</p>
			<span><strong>Time: </strong></span><p>Jan.2017 ~ June.2017</p>
			<span><strong>Tools: </strong></span><p>Sketch</p>
		</div>
		<div class="col-lg-12 description">
			<p>This project is sponsored by <span class="keyword">MSR Global Health</span> which produces chlorine generators or water filteration devices for developing countries. <br> The main goal was to create web-based dashboards for both donors and administrative users, utilizing the data collected from the devices <br>
			As the designer of four-person group, I created <span class="keyword">wireframes</span>, designed <span class="keyword">laytout of the dashboards</span>, and implemented with <span class="keyword">CSS and HTML</span>.</p>
	
			<a class="btn" href="http://boneappletea.me/" target="_blank">Explore prototype</a>
		</div>
		
		<div class="col-lg-12 description">
		<hr>
			<p>Brainstorming the dashboard wireframe for admin users</p>
			<img class="contentImg" src="images/MSR/brainstorm.jpg"/>
			<p>Sample dashboard wireframe for <span class="keyword">donors</span> </p>
			<img class="contentImg" src="images/MSR/donor_wireframe.png"/>
			<p>The final prototype for <span class="keyword">donors</span> </p>
			<img class="contentImg" src="images/MSR/donor.png"/>
			<p>The final prototype for <span class="keyword">admin users</span> </p>
			<img class="contentImg" src="images/MSR/admin.png"/>
	</section>


</div>