<div class="partials">
	<div class="partHead">
		<img class="" src="images/MSR/cover(MSR).png"/>
		<a class="floatingRight" ui-sref="harmony"><img class="arrows" src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="kloset"><img class="arrows" src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
	</div>

	<section class="contents">
		<div class="infoView">
			<div class="row justify-content-center">
				<div class="col-sm-2"><span><strong>Project Type: </strong></span><p>Class, Group</p></div>
				<div class="col-sm-4"><span><strong>Main Task: </strong></span><p>Wireframe, Prototyping, HTML+CSS</p></div>
				<div class="col-sm-3"><span><strong>Time: </strong></span><p>Jan.2017 ~ Jun.2017</p></div>
				<div class="col-sm-2"><span><strong>Tools: </strong></span><p>Sketch, Github</p></div>
			</div>
		</div>

		<div class="col-lg-12 description">
			<p>This project is sponsored by <a href="http://www.msrglobalhealth.com/" target="_blank">MSR Global Health</a> which utilizes technology to solve real-world challenges. <span class="keyword">SE Flow </span> is a chlorine generator which is used for infection prevention and control in develoing countries. The main goal of thise project was to create web-based dashboards for both donors and administrative users, utilizing the data collected from the devices.</p>
	
			<a class="btn" href="http://boneappletea.me/" target="_blank">Explore prototype</a>
		</div>
		
		<div class="col-lg-12 description-sub">
		<hr>
			<p>Brainstorming the dashboard wireframe for admin users</p>
			<img class="contentImg" src="images/MSR/brainstorm.jpg"/>
			<p>Sample dashboard wireframe for <span class="keyword">donors</span> </p>
			<img class="contentImg" src="images/MSR/donor_wireframe.png"/>
			<p>The final prototype for <span class="keyword">donors</span> </p>
			<img class="contentImg" src="images/MSR/donor.png"/>
			<p>The final prototype for <span class="keyword">admin users</span> </p>
			<img class="contentImg" src="images/MSR/admin.png"/>
		</div>	
	</section>
</div>