<div class="partials">
	<div class="partHead">
		<img class="" src="images/p1/cover(mouda).png"/>
		<a class="floatingRight" ui-sref="p2"><img class="arrows" src="images/arrow_r.svg" alt="Right arrow" height="42" width="42"><span class="tooltiptext">Next</span></a>
		<a class="floatingLeft" ui-sref="harmony"><img class="arrows" src="images/arrow_l.svg" alt="Left arrow" height="42" width="42"><span class="tooltiptext">Previous</span></a>
	</div>
	<section class="contents">
		<div class="infoView">
			<div class="row justify-content-center">
				<div class="col-sm-2"><span><strong>Project Type: </strong></span><p>Internship</p></div>
				<div class="col-sm-4"><span><strong>Main Task: </strong></span><p>Responsive web design</p></div>
				<div class="col-sm-3"><span><strong>Time: </strong></span><p>Jul.2016 ~ Sept.2016</p></div>
				<div class="col-sm-2"><span><strong>Tools: </strong></span><p>Adobe XD</p></div>
			</div>
		</div>

		<div class="col-lg-12 description">
			<p><a href="https://mouda.kr/" target="_blank"><u><span class="keyword">Mouda</span></u></a> is a fintech startup in Korea which provides peer-to-peer lending platform. For 3 months, I worked as web design intern at Mouda. My main task was to design a <span class="keyword">responsive web site</span> from scratch.</p>
		</div>
		
		<div class="col-lg-12 description-sub">
		<hr>
			<p>During my internship, I spent most of my time designing <span class="keyword">the home page.</span><br>
			At first, I designed the home page with pictures and not much texts so that <br> the focal points were the images.</p>
			<img class="contentImg" src="images/p1/old_main.png"/>
			<p>However, after the closed beta testing, my team and I realized that <br>
			some users, who are not familiar with <br>
			navigating websites, needed <span class="keyword">a guide on how to navigate our home page</span>.</p>
			<p> So, I created <span class="keyword">tutorial videos</span> and added them into our home page.<br>
			The users were now able to watch tutorials for registration, investing process and lending process <br>
			We received feedback from users saying that the tutorials were helpful.</p> 
			<img class="contentImg" src="images/p1/main.png"/>
			<p>The following images are the primary designs for each page of the website.</p>
			<br>
			<div class="miniBox grid">
				<a href="images/p1/signup.png" data-lightbox="original" data-title="Sign-up Page: sign-up modal is shown above the main page"><img class="miniImg grid-item" src="images/p1/signup.png" alt="sign-up page"/></a>
				<a href="images/p1/invest.png" data-lightbox="original" data-title="Investment Page: the list of investment items are shown"><img class="miniImg grid-item" src="images/p1/invest.png" alt="Investment page"/></a>
				<a href="images/p1/invest_item.png" data-lightbox="original" data-title="Investment Item Page: the detail inforamtion about the item is shown"><img class="miniImg grid-item" src="images/p1/invest_item.png" alt="Investment item page"/></a>
				<a href="images/p1/setting.png" data-lightbox="original" data-title="Setting Page: Overall view for transaction and account settings"><img class="miniImg grid-item" src="images/p1/setting.png" alt="Setting page"/></a>
				<a href="images/p1/contact.png" data-lightbox="original" data-title="Contact Page: contact information and the link to Q&A page is shown"><img class="miniImg grid-item" src="images/p1/contact.png" alt="Contact page"/></a>
				<a href="images/p1/signup_mobile.png" data-lightbox="mobile" data-title="Sign-up Mobile: sign-up form is on the menu sidebar"><img class="miniImg grid-item" src="images/p1/signup_mobile.png" alt="sign-up mobile"/></a>
				<a href="images/p1/main_mobile.png" data-lightbox="mobile" data-title="Main Mobile: the main page in mobile version"><img class="miniImg grid-item" src="images/p1/main_mobile.png" alt="main mobile"/></a>
				<a href="images/p1/invest_mobile.png" data-lightbox="mobile" data-title="Invest Mobile: the list of investment items are shown"><img class="miniImg grid-item" src="images/p1/invest_mobile.png" alt="invest mobile"/></a>
				<a href="images/p1/setting_mobile.png" data-lightbox="mobile" data-title="Setting Mobile: Overall view for transaction and account settings"><img class="miniImg grid-item" src="images/p1/setting_mobile.png" alt="Setting mobile"/></a>
			</div>	
		</div>

	</section>
</div>