
      <section id="profileSection">
        <div class="nameSection">
          <div class="nameContent">Woosuk Seo</div>
          <div class="nameSub" style="font-size:12px">BS Informatics (Human-Computer Interaction) at University of Washington</div>

        </div>

<div id="profilePic"></div>
        <div id="profileText">
         <p>I am a <span class="keyword">creative thinker</span>, contemplating how to make all users have the best experience. <br/> My interest is <span class="keyword">user experience research/design</span> on both web and mobile platforms. <br/>
         I like to watch movies, to eat pasta, to drink bubble tea and to learn about anything new.</p>
        </div>
        <div id="btnBox">
          <a class="mainBtn" href="pdf/CV.pdf" target="_blank">CV</a>
          <a class="mainBtn" href="https://www.linkedin.com/in/woosuk-seo-b7aa75109" target="_blank">LinkedIn</a>
        </div>
<!--         <div id="profileMsg">I look forward to hearing from you</div>
 -->
      </section>